<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>加入我们！</title>
        <script src="/static/js/submitinfo.js"></script>
    </head>
    <body>
        <div class="head">
            <img src="/static/img/2.jpg" style="position:absolute; right: 20px; width: 40px;clear:both">
            <a href="index" class = "xde" style="float:left">加入XDE网络社！</a>
            <a href="dino-play" class="xde" style="float:left;text-decoration: none;">小恐龙（demo）</a>
            <div class = "xde"style="float:left;">各位有什么自制游戏别藏着掖着了拿出来拉人罢！！！</div> 
            <a href="contact-us" class="xde" style="float:left;text-decoration: none;">如何联系我们？</a>  
        </div>
        <div style=" background-color: rgb(53, 44, 44)">
            <div style="height: 30px;"></div>
            <div class="container">
                <h1>怎么样？想要加入我们吗？泰酷辣！</h1>
                <h2>速速联系下面这位社员：</h2>
                <div style="text-align: center;">
                    <img src="/static/img/contact.png" style="width: 50%; margin: 0 auto;">
                </div>
                <h2>或者，在下面留下你的信息：</h2>
                <div style="text-align:center;">
                    <table style="margin: 0 auto;">
                        <tr>
                            <td><b class="content">你的名字：</b></td>
                            <td><input id="name"></td>
                        </tr>
                        <tr>
                            <td><b class="content">你的微信号：</b></td>
                            <td><input id="wechat-id"></td>
                        </tr>
                        <tr>
                            <td><b class="content">你过往与计算机学科相关的渊源：</b></td>
                            <td><textarea id="experience"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button id="submit" onclick="submitinfo()">提交！</button></td>
                        </tr>
                    </table>
                </div>
                <h2>希望开学能在人工智能实验室与你相会！</h2>
            </div>
        </div>
        <div style="width: 100%;height: 150px;background-color: black;color:white;font-family: 'Courier New', Courier, monospace;">
            <p style="text-align:right;margin-right: 30px;">Developed by kongjiang wangluoshe develop group</p>
            <p style="text-align:right;margin-right: 30px;">控江中学高二网络社社员许可证 控Q-1145141919</p>
            <p style="text-align:right;margin-right: 30px;">No rights reserved</p>
            <p style="text-align: center;font-size: large;color:lightblue"><b>勇敢的少年啊快去报名网络社</b></p>
        </div>

    </body>
</html>